<section>
  <div class="newPost">
    <h2>Create New Post</h2>

    <form class="new-post-form">
      <div class="titlePostField">
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div class="linkPostField">
        <label for="post-url">Link</label>
        <input id="post-url" name="post-url" />
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>
</section>