{{#if firstTime}}
<div class="first-time">
    <div class="firstVisitContainer">
        <h1>Welcome to Blogger!</h1>
        <p>This is a place to store your blogs and for people to see the cool things that are out there.</p>
        <p>These blogs can be a couple things:</p>
            <ul>
                <li>Anything about you</li>
                <li>Subjects that could be helpful to the world</li>
                <li>Somewhere that you can post your blogs</li>
            </ul>
        <p>Blogging can be a hard thing to do, but this is a helpful place to start!</p>
        <p>Let's get started!</p>
        <div>
            <h3>Let's navigate to your dashboard</h3>
        </div>
        <div class="ft-toDashboard">
            <a class="home-btn" href="/dashboard">Dashboard</a>
        </div>
    </div>
</div>

{{else}}
<div class="welcome-back">
    <div class="welcome-back-container">
        <h1>Welcome back</h1>
        <p>Number of times you visited: {{countVisit}}</p>
    </div>
</div>

<div class="ft-toDashboard">
    <a class="home-btn" href="/dashboard">Dashboard</a>
</div>
  {{/if}}