<div class="homepage-blogs">
    <h2>Welcome to the homepage!</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
        </li>
        {{/each}}
    </ol>
</div>