<div class="login-form-container">
    <p>If you have a user already, you can login here.</p>
    <form>
        <div class="loginForm">
            <div class="label">
                <label for="email-login">email</label>
                <div>
                    <input type="text" id="email-login" />
                </div>
            </form>
        </div>
        <div class="label">
            <label for="password-login">Password:</label>
            <div>
                <input type="text" id="password-login" />
            </div>
        </div>
        <div>
            <button class="button" type="submit">login</button>
        </div>
    </form>
</div>

<form class="signup-form-container">
    <div class="signupForm">
        <p>Need a user? You can signup here!</p>
        <div class="label">
            <label for="username-signup">Username</label>
            <div>
                <input type="text" id="username-signup" />
            </div>
        </div>
        <div class="label">
            <label for="email-signup">Email</label>
            <div>
                <input type="text" id="email-signup" />
            </div>
        </div>
        <div class="label">
            <label for="password-signup">Password</label>
            <div>
                <input type="text" id="password-signup" />
            </div>
        </div>
        <div>
            <button class="button" type="submit">signup</button>
        </div>
    </div>
</form>

<!-- Login Script -->
<script src="/javascript/login.js"></script>